name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thanks alot for raising an issue in this repository :+1: We will soon give a follow up.'
        pr-message: 'Appreciate your contribution :+1: We will be shortly review it'
